/* "Lauren Noeltner" in top left corner */

.navbar-brand {
  background-color: teal;
}

/* Page Links */

.nav-link {
  text-align: right;
}

/* Background */

body {
  background-image: url(../ignasi_pattern1.png);
}

/* Bio Image */

#bioimage {
  float: left !important;
  max-height: 300px;
  max-width: 200px;
  margin: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}

/* Main Body Container-All Pages */

.container {
  background-color: white;
  border: 3px;
  border-style: solid;
  border-color: teal;
  min-height: 100%;
  margin-bottom: -50px;
}

/* Title of Each Page */

h1 {
  color: teal;
  text-align: center;
  padding-top: 5px;
}

/* Images in portfolio page */

.portfolio-thumbnail {
  max-height: 350px;
  max-width: 350px;
  border-style: solid;
  border-width: 1px;
  padding: 5px;
  margin: 15px;
}

/* Contact Me form for email */

form {
  padding: 50px;
  margin: 30px 0;
}

/* Submit Button Contact Page */

.btn btn-primary {
  min-width: 150px;
  background: #299be4;
  border: none;
  min-height: 38px;
  border-radius: 2px;
}

/* Footer */

.footer {
  text-align: center;
  background-color: white;
  font-style: italic;
  border-style: solid;
  border-color: teal;
  padding-top: 5px;
}
